__pycache__/
lightning_logs/
reach/
safe_lane/
ped_some/
cyclist_yield/
heading_stable/
ped_yield/
reach_adapt/
veh_space/
reach_uns/
head_real/
reach_unsafe/
ped_clear/
ped_pred/
reach_simp/
surround_fast/
ped_unsafe/
fast_slow/
outputs_reach/
outputs_fast_slow/
outputs_ped_pred/
outputs_reach_unsafe/
outputs_reach_simp/
outputs_head_real/
outputs_reach_uns/
outputs_ped_some/
outputs_safe_lane/
outputs_cyclist_yield/
outputs_heading_stable/
outputs_ped_yield/
outputs_reach_adapt/
outputs_veh_space/
outputs_ped_clear/
outputs_ped_unsafe/
outputs_surround_fast
/*.out
/*.err
/*.sh
/*.yml
/*.slurm
visual/
/*.png
/*.txt
results_old/
results_opt/